/* body {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100vh;
  background: #f39c12;
} */
h1 {
    margin: 0 0 0.25em;
  }
  /* Reset Select */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
  }
  select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }
  .col11 {
    float: left;
    padding-left: 75px;
    width: 33.33%;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Clear floats after the columns */
  .row11:after {
    content: "";
    display: table;
    clear: both;
    
    
  }
  .center-col{
    max-height: 400px;
    overflow-y: scroll;
  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 50px;
    cursor: pointer;
  }
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 10px;
    
  }
  #leftist{
    margin-left: 600;
  }