.button { 
    background-color: #5197e6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    
  }
  .button1 {
    background-color: #4ff7d0; /* Green */}
  
  .button2 {background-color: #008CBA;} /* Blue */
  
  .button6 {background-color: #87ed18;} /* Blue */
  .button3 {background-color: #e93df2;} /* Red */ 
  .button4 {background-color: #f28c0f; color: black;} /* Gray */ 
  .button5 {background-color: #cf3d36;} /* Black */
  .div1{
      padding-left: 10cm;
  }
  
  